{% set page = {
    title: 'Главная'
} %}

{% extends "./2.parts/main.njk" %}



{% block content %}

    {% set _ = 'banner' %}
    <div class="{{ _ }} section">
        <div class="container">
            <div class="{{ _ }}__wrap">
                <div class="{{ _ }}__supertitle">
                    Технологическая компания
                </div>
                <div class="{{ _ }}__title">
                    Interactive Standard
                </div>
                <div class="{{ _ }}__subtitle">
                    Разрабатываем уникальные <br>
                    продукты
                </div>
                <a href="#" class="btn">
                    О TAPYOU
                </a>
            </div>
        </div>
    </div>


    {% set _ = 'company' %}

    <div class="{{ _ }} section">
        <div class="container">
            <div class="{{ _ }}__wrap">
                <h1 class="h1">О компании</h1>
                <h3 class="h3">Привет!</h3>

                <p>Команда Interactive Standard разрабатывает мобильные приложения с использованием собственной
                    уникальной
                    технологии обмена видеоконтентом.</p>

                <p>Мы занимаемся обработкой и оптимизацией терабайтов видеоданных. А это значит, что у нас всегда есть
                    интересные задачи для мобильной разработки Android и iOS, нетривиальные вызовы в области CV- и
                    ML-обработки
                    видео и возможность непрерывно повышать свою экспертность.</p>

                <p>Мы умеем находить нестандартные способы делать сложные вещи простыми. И, конечно, стремимся к тому,
                    чтобы
                    накопленный опыт и знания стали драйвером для развития не только наших проектов, но и всей
                    команды.</p>

                <a href="#" class="{{ _ }}__btn btn">Вакансии</a>
            </div>

        </div>
    </div>



    {% set _ = 'project' %}


    <div class="{{ _ }} section">
        <div class="container">
            <div class="{{ _ }}__wrap">
                <h2 class="h2">О Проекте</h2>
                <p>TapYou – это социальная видеосеть для совместных съемок, просмотра видео и общения в кругу семьи,
                    друзей и близких.</p>
                <span>Наше приложение прямо во время съемки объединит кадры, снятые всеми участниками, в один увлекательный
                    фильм: о путешествиях, вечеринках и просто приятных событиях. Кроме того, TapYou автоматически умеет
                    разбивать видео на сцены, сокращает их до 15 секунд и показывает только лучшие моменты.</span>
            </div>
        </div>
    </div>







{% endblock content %}

