.btn
  height: 56px
  border: none
  display: inline-flex
  align-items: center
  justify-content: center
  background-color: $white
  transition: all ease .3s
  box-shadow: 0px 15px 50px -6px rgba(42, 47, 55, 0.3)
  font-size: 16px
  color: $pink
  cursor: pointer
  gap: 15px
  @extend %600
  @extend %up
  border-radius: 100px
  width: max-content
  padding: 20px 40px
  @media screen and (max-width: 1365px)
    height: 40px

  &:hover
    background: black
    color: white

  &--blue
    background-color: $blue
  &--pink
    background-color: $pink
    box-shadow: 0px 15px 50px -6px rgba(228, 102, 140, 0.37)
    color: $white

  &--disabled
    background-color: #DBE1E2
    color: #A09EA9
    box-shadow: 0px 15px 50px -6px rgba(42, 47, 55, 0.3)
    pointer-events: none
