.card-list
  list-style-type: none
  counter-reset: num
  display: grid
  grid-template-columns: repeat(3, 1fr)
  gap: 23px
  margin-bottom: 0

  @media screen and (max-width: 1365px)
    grid-template-columns: repeat(2, 1fr)
  @media screen and (max-width: 767px)
    grid-template-columns: 1fr




  &__item
    &::before
      @import url('https://fonts.cdnfonts.com/css/museo-sans-cyrl')
      font-family: 'Museo Sans Cyrl', sans-serif
      content: counter(num, decimal-leading-zero)
      counter-increment: num
      position: absolute
      right: 40px
      top: 20px
      font-size: 100px
      color: $ultra-light-gray
      font-weight: 900
      background-color: $transparent
      left: auto
      line-height: 100px
      @media screen and (max-width: 1365px)
        font-weight: 700
        font-size: 70px
        right: 10px
        top: 0

