.ul
  margin-bottom: 25px

  li
    margin-bottom: 10px
    font-size: 20px
    color: white
    padding-left: 15px
    position: relative
    line-height: 1.2
    @extend %400
 
    &:before
      content: ''
      width: 6px
      height: 6px
      border-radius: 50%
      background: white
      position: absolute
      left: 0
      top: 10px

    @media screen and (max-width: 767px)
      font-size: 13px