.ul
  margin-bottom: 25px

  li
    font-size: 20px
    padding-left: 20px
    position: relative
    line-height: 1.4
    @extend %300
    @media screen and (max-width: 1365px)
      font-size: 16px
 
    &:before
      content: ''
      width: 6px
      height: 6px
      border-radius: 50%
      background: rgba(41, 41, 41, 0.12)
      position: absolute
      left: 0
      top: 10px


  &--white
    li:before
      background-color: white