%shadow
  box-shadow: 0px 13px 50px #789499


body
  font-family: 'Inter', sans-serif

p
  line-height: 1.4
  @extend %300
  font-size: 20px
  @extend %lc

span
  color: $black
  font-size: 18px
  line-height: 1.4

%radius-big
  border-radius: 40px


.nav
  display: flex
  gap: 60px

.header
  padding-top: 60px
  position: absolute
  top: 0
  left: 0
  right: 0


  &__wrap
    display: flex
    align-items: center
    justify-content: space-between
    height: 80px

.banner
  background: linear-gradient(227.87deg, #0C0E42 14.03%, #353A88 86.78%)
  @extend %white

  &__wrap
    margin-top: 140px
    @extend %pb40
    display: flex
    flex-direction: column
    justify-content: center
    position: relative

  &__supertitle
    @extend %fz30
    @extend %mb20

  &__title
    @extend %fz45
    @extend %up

  &__subtitle
    @extend %fz35
    @extend %mt40
    color: $light-blue
    @extend %400
    @extend %mb80

  &__bg
    position: absolute
    top: -50px
    right: -100px

.company
  background-color: $pink
  background-image: url("../../images/company/bg.png")
  background-repeat: no-repeat
  background-position: right 100px bottom 150px

  color: white

  &__wrap
    position: relative
    @extend %pb120

  &__h2
    @extend %mb40

  &__btn
    @extend %mt20





.project
  background-color: $metal-green
  color: white
  background-image: url("../../images/project/bg.png")
  background-repeat: no-repeat
  background-position: left bottom


  &__wrap
    position: relative

  &__top
    display: grid
    grid-template-columns: auto 630px
    gap: 30px
    margin-bottom: 50px

  &__left-content
    position: relative
    pointer-events: none

    img
      position: absolute
      top: -230px
      left: -70px

  &__more-link
    margin-top: 60px
    margin-bottom: 60px
    display: inline-block
    display: flex
    justify-content: right


  &__buttons
    display: flex
    gap: 20px
    justify-content: right

.team
  background-color: $light-green
  background-image: url("../../images/team/bg.png")
  background-repeat: no-repeat
  background-position: left 380px top 56px
  &__wrap
    position: relative

  &__grid
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 20px




.opportunities
  background-color: $light-gray
  background-image: url("../../images/opportunities/bg.png")
  background-repeat: no-repeat
  background-position: center center
  &__wrap
    position: relative


  &__item
    padding: 40px
    background-color: $white






.vacancy
  background-color: $metal-green
  background-image: url("../../images/vacancy/bg.png")
  background-repeat: no-repeat
  background-position: left 400px top 370px
  color: white

  &__card-list
    margin-top: 90px


.resume
  background-color: $light-green
  background-image: url("../../images/resume/bg.png")
  background-repeat: no-repeat
  background-position: center top

  &__title
    text-align: center
    color: $black
    margin-bottom: 100px

  &__fields
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 40px
    margin-bottom: 30px

  &__fields-btn
    width: 100%

  &__assent
    text-align: center
    margin-bottom: 80px


  &__submit
    text-align: center


.vacancy-info
  background-color: $ultra-light-gray
  background-image: url("../../images/vacancy-info/bg.png")
  background-repeat: no-repeat
  background-position: left center


  &__wrap
    span
      color: $pink



.footer
  background-color: $dark-gray
  &__wrap
    @extend %fb
    align-items: center

  &__nav
    display: flex
    gap: 60px

  &__contacts
    display: flex
    flex-direction: column
    gap: 10px


  &__telephone
    font-size: 20px
    @extend %900
    color: $pink

  &__mail
    font-size: 14px


.up-btn
  display: block
  position: fixed
  bottom: 40px
  right: 60px









      



