%shadow
  box-shadow: 0px 13px 50px #789499


%radius-big
  border-radius: 40px


#preloader
  position: fixed
  top: 0
  right: 0
  left: 0
  bottom: 0
  background: white
  z-index: 100000000000
  @extend %fc


@keyframes loader-rotate
  0%
    transform: rotate(0)
  100%
    transform: rotate(360deg)


.nav
  display: flex
  gap: 60px
  position: relative
  z-index: 10
  @extend %transition
  @media screen and (max-width: 1365px)
    opacity: 0
    pointer-events: none

    
    position: absolute
    top: 0
    flex-direction: column
    gap: 30px
    background: linear-gradient(227.87deg, #0C0E42 14.03%, #353A88 86.78%)
    padding: 80px 15px 25px
    width: 100%
    left: 0
    &__link
      color: $pink
      
    &.open
      opacity: 1
      pointer-events: all
      

  &__bg
    display: none
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    background-image: url("../../images/nav/bg.png")
    background-repeat: no-repeat
    background-position: top -5px right
    pointer-events: none
    @media screen and (max-width: 1365px)
      display: block

  &__close-btn
    display: none
    position: absolute
    right: 15px
    top: 50px
    @media screen and (max-width: 1365px)
      display: block


.burger
  display: none
  flex-direction: column
  align-items: flex-end
  position: relative
  cursor: pointer
  @media screen and (max-width: 767px)
    margin-top: 0px
    margin-left: 0px

  span
    display: block
    width: 30px
    height: 6px
    border: 2px solid #FFFFFF
    border-radius: 8px
    background: transparent
    margin-bottom: 2px
    opacity: 1
    position: relative
    @extend %lc
    @extend %transition

    &:nth-child(2)
      width: 30px
      border: 2px solid $pink


  @media screen and (max-width: 1365px)
    display: flex


.header
  padding-top: 60px
  position: absolute
  top: 0
  left: 0
  right: 0
  z-index: 100
  @media screen and (max-width: 1365px)
    padding-top: 40px


  &__wrap
    display: flex
    align-items: center
    justify-content: space-between
    height: 80px
    @media screen and (max-width: 1365px)
      height: 40px

.banner
  background: linear-gradient(227.87deg, #0C0E42 14.03%, #353A88 86.78%)
  @extend %white

  &__wrap
    margin-top: 140px
    padding-bottom: 40px
    display: flex
    flex-direction: column
    justify-content: center
    position: relative
    @media screen and (max-width: 1365px)
      margin-top: 70px
      padding-bottom: 220px


  &__content
    position: relative
    z-index: 10
    @media screen and (max-width: 767px)
      width: 280px

  &__supertitle
    font-size: 30px
    margin-bottom: 20px
    font-weight: 400
    strong
      font-size: 45px
      @extend %500
    @media screen and (max-width: 1365px)
      font-size: 16px
      margin-bottom: 10px
      strong
        font-size: 24px


  &__title
    font-size: 45px
    text-transform: uppercase
    @media screen and (max-width: 1365px)
      font-size: 24px


  &__subtitle
    font-size: 40px
    margin-top: 40px
    color: $light-blue
    font-weight: 400
    margin-bottom: 80px
    max-width: 450px
    @media screen and (max-width: 1365px)
      font-size: 20px
      margin-top: 20px
      margin-bottom: 25px


  &__bg
    position: absolute
    width: 740px
    height: 770px
    background-image: url("../../images/banner/bg.png")
    background-size: contain
    background-repeat: no-repeat
    top: -50px
    right: -100px
    @media screen and (max-width: 1365px)
      background-image: url("../../images/banner/bg-mobile.png")
      width: 290px
      top: calc(100% - 35px)
      transform: translateY(calc(-50% - 30px))
      right: -10px

.company
  background-color: $pink
  background-image: url("../../images/company/bg.png")
  background-repeat: no-repeat
  background-position: right 100px bottom 150px
  color: white

  &__wrap
    position: relative
    padding-bottom: 120px
    @media screen and (max-width: 1365px)
      padding-bottom: 30px

  &__h2
    margin-bottom: 40px

  &__btn
    margin-top: 20px
    @media screen and (max-width: 767px)
      width: 100%

.project
  background-color: $metal-green
  color: white
  background-image: url("../../images/project/bg.png")
  background-repeat: no-repeat
  background-position: left top 220px
  @media screen and (max-width: 767px)
    background-image: url("../../images/project/bg.png")

  &__wrap
    position: relative

  &__top
    display: grid
    grid-template-columns: auto 630px
    gap: 30px
    margin-bottom: 60px
    @media screen and (max-width: 1365px)
      grid-template-columns: auto 460px



    @media screen and (max-width: 767px)
      grid-template-columns: 1fr
      margin-bottom: 30px



  &__iphone
    position: relative
    pointer-events: none
    height: 665px
    margin-top: -220px
    @media screen and (max-width: 1365px)
      height: 385px
      margin-top: -120px

    img
      position: absolute
      right: -15px

      @media screen and (min-width: 1366px)
        left: -125px

  &__iphone-descktop
    @media screen and (max-width: 1365px)
      display: none

  &__iphone-mobile
    display: none
    @media screen and (max-width: 1365px)
      display: block


    img
      position: absolute
      top: -230px
      left: -70px

  &__more-link
    margin: 50px 0
    display: flex
    justify-content: right
    @media screen and (max-width: 1365px)
      margin: 30px 0

  &__buttons
    display: flex
    gap: 20px
    justify-content: right
    @media screen and (max-width: 767px)
      flex-direction: column
      .btn
        width: 100%

  &__bottom

    display: none

.team
  background-color: $light-green
  background-image: url("../../images/team/bg.png")
  background-repeat: no-repeat
  background-position: left 380px top 56px

  &__wrap
    position: relative

  &__list
    display: flex
    gap: 20px
    @media screen and (max-width: 1365px)
      grid-template-columns: repeat(1, 1fr)



  &__card

    width: calc(100% / 3 - (40px / 3))

    &.card--current
      width: calc((100% / 3 - (40px / 3)) * 2)
      transition: all ease .5s

      .card__close, .card__ancor
        display: inline-block

      .card__more
        display: none

      .card__content
        max-height: max-content


    &.card--hide
      display: none



    .card__body
        margin: 0 5px
        @media screen and (max-width: 1365px)
          margin:
          box-shadow: none












  &__slick-slider
    @media screen and (max-width: 1365px)
      margin-bottom: 35px

  &__vacancy-btn
    display: none
    @media screen and (max-width: 1365px)
      display: flex
      margin: 0 auto
    @media screen and (max-width: 767px)
      width: 100%




.opportunities
  background-color: $light-gray
  background-image: url("../../images/opportunities/bg.png")
  background-repeat: no-repeat
  background-position: center center
  background-size: contain

  &__wrap
    position: relative


  &__item
    padding: 40px
    background-color: $white

.vacancy
  background-color: $metal-green
  background-image: url("../../images/vacancy/bg.png")
  background-repeat: no-repeat
  background-position: left 400px top 370px
  color: white

  &__card-list
    margin-top: 90px
    @media screen and (max-width: 1365px)
      margin-top: 20px

.resume
  background-color: $light-green
  background-image: url("../../images/resume/bg.png")
  background-repeat: no-repeat
  background-position: center top

  &__title
    text-align: center
    color: $black
    margin-bottom: 100px
    @media screen and (max-width: 1365px)
      margin-bottom: 30px
      text-align: left


  &__fields
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 40px
    margin-bottom: 30px
    @media screen and (max-width: 1365px)
      grid-template-columns: repeat(1, 1fr)
      gap: 20px


  &__fields-btn
    width: 100%

  &__assent
    text-align: center
    margin-bottom: 80px
    @media screen and (max-width: 1365px)
      margin-bottom: 30px


  &__submit
    text-align: center

    .btn
      @media screen and (max-width: 767px)
        width: 100%

.vacancy-info
  background-color: $ultra-light-gray
  background-image: url("../../images/vacancy-info/bg.png")
  background-repeat: no-repeat
  background-position: left center




  &__wrap
    position: relative
    padding-top: 70px
    @media screen and (max-width: 1365px)
      padding: 0

    span
      color: $pink

  &__back
    position: absolute
    left: 0
    top: -30px
    @media screen and (max-width: 1365px)
      display: none

.up-btn
  display: block
  position: fixed
  bottom: 40px
  right: 60px
  z-index: 100
  @media screen and (max-width: 1365px)
    bottom: 20px
    right: 30px
    transform: scale(0.7)

.footer
  background-color: $dark-gray

  &__wrap
    @extend %fb
    align-items: center
    gap: 30px
    @media screen and (max-width: 1365px)
      display: grid
      grid-template-columns: 1fr 2fr
    @media screen and (max-width: 767px)
      grid-template-columns: 1fr




  &__nav
    display: flex
    gap: 60px
    @media screen and (max-width: 1365px)
      justify-content: space-between
      gap: 10px


  &__contacts
    display: flex
    flex-direction: column
    gap: 10px
    text-align: right
    @media screen and (max-width: 1365px)
      text-align: left
    @media screen and (max-width: 767px)
      align-self: flex-end
      text-align: right





  &__telephone
    font-size: 20px
    font-weight: 900
    color: $pink
    @media screen and (max-width: 1365px)
      font-size: 18px


  &__mail
    font-size: 14px




//всплывающее окно отправки резюме
.resume-popup
  position: relative
  z-index: 100
  max-width: 1180px
  height: 680px
  background-color: $light-green
  border-radius: 40px
  padding: 130px 30px
  display: flex
  flex-direction: column
  align-items: center
  background-image: url("data:image/svg+xml,%3Csvg width='912' height='650' viewBox='0 0 912 650' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.15' fill-rule='evenodd' clip-rule='evenodd' d='M112 305.5C112 495.762 266.238 650 456.5 650C646.762 650 801 495.762 801 305.5C801 115.238 646.762 -39 456.5 -39C266.238 -39 112 115.238 112 305.5ZM456.503 566.982C312.091 566.982 195.022 449.912 195.022 305.501C195.022 161.089 312.091 44.0195 456.503 44.0195C600.915 44.0195 717.984 161.089 717.984 305.501C717.984 449.912 600.915 566.982 456.503 566.982ZM456.503 576.982C306.569 576.982 185.022 455.435 185.022 305.501C185.022 155.566 306.569 34.0195 456.503 34.0195C606.438 34.0195 727.984 155.566 727.984 305.501C727.984 455.435 606.438 576.982 456.503 576.982ZM456.498 485.689C356.982 485.689 276.309 405.016 276.309 305.5C276.309 205.984 356.982 125.311 456.498 125.311C556.014 125.311 636.688 205.984 636.688 305.5C636.688 405.016 556.014 485.689 456.498 485.689Z' fill='white'/%3E%3Cpath opacity='0.15' fill-rule='evenodd' clip-rule='evenodd' d='M43.5 143C19.4756 143 0 123.524 0 99.5C0 75.4756 19.4756 56 43.5 56C67.5244 56 87 75.4756 87 99.5C87 123.524 67.5244 143 43.5 143ZM23 99.5C23 110.822 32.1782 120 43.5 120C54.8218 120 64 110.822 64 99.5C64 88.1782 54.8218 79 43.5 79C32.1782 79 23 88.1782 23 99.5ZM17 99.5C17 114.136 28.8645 126 43.5 126C58.1355 126 70 114.136 70 99.5C70 84.8645 58.1355 73 43.5 73C28.8645 73 17 84.8645 17 99.5Z' fill='white'/%3E%3Ccircle opacity='0.15' cx='894' cy='463' r='18' fill='white'/%3E%3C/svg%3E%0A")
  background-repeat: no-repeat
  background-position: top center
  @media screen and (max-width: 1365px)
    height: 400px
    padding: 40px 15px
    justify-content: center





  &__title
    margin-bottom: 40px
    font-size: 45px
    @extend %up
    @extend %600

    span
      font-size: 45px

      &.pink
        color: $pink

      @media screen and (max-width: 1365px)
        font-size: 28px
        margin-bottom: 25px
      @media screen and (max-width: 1365px)
        font-size: 18px

    @media screen and (max-width: 1365px)
      font-size: 28px
      margin-bottom: 25px
      text-align: center
    @media screen and (max-width: 1365px)
      font-size: 18px



  &__subtitle
    font-size: 20px
    margin-bottom: 70px
    @media screen and (max-width: 1365px)
      font-size: 16px
      margin-bottom: 50px
      max-width: 400px
      text-align: center
      line-height: 1.2
    @media screen and (max-width: 1023px)
      margin-bottom: 30px



  &__buttons
    display: flex
    gap: 30px
    justify-content: center
    @media screen and (max-width: 1365px)
      flex-direction: column
      align-items: center
    @media screen and (max-width: 1023px)
      .btn
        font-size: 14px
        padding: 5px 15px
        width: 100%











      



