<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title>{{ page.title }}</title>
    {% include "./head.njk" %}
</head>
<body>



{% set _ = 'header' %}

<header class="header">
    <div class="container">

        <div class="header__wrap">
            <a href="#" class="logo">

            </a>
            <nav class="nav">
                <div class="nav__bg"></div>
                <a href="#" class="nav__close-btn">
                    <svg width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g filter="url(#filter0_d_2432_17845)">
                            <rect x="6.09516" y="17.5312" width="21.799" height="3.70172" rx="1.85086" transform="rotate(-45 6.09516 17.5312)" fill="white" stroke="#E4668C" stroke-width="1.23391"/>
                            <rect x="8.47266" y="2.14008" width="21.799" height="3.70172" rx="1.85086" transform="rotate(45 8.47266 2.14008)" fill="white" stroke="#E4668C" stroke-width="1.23391"/>
                            <rect x="12.3555" y="12.1504" width="4.95668" height="2.46414" transform="rotate(-45 12.3555 12.1504)" fill="white"/>
                        </g>
                        <defs>
                            <filter id="filter0_d_2432_17845" x="-4" y="0" width="38" height="30" filterUnits="userSpaceOnUse"
                                    color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                                               result="hardAlpha"/>
                                <feOffset dy="4"/>
                                <feGaussianBlur stdDeviation="2"/>
                                <feComposite in2="hardAlpha" operator="out"/>
                                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                                <feBlend mode="normal" in2="BackgroundmageFix" result="effect1_dropShadow_2432_17845"/>
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2432_17845" result="shape"/>
                            </filter>
                        </defs>
                    </svg>

                </a>
                <a href="#" class="nav__link link">Компания</a>
                <a href="#" class="nav__link link">Продукт</a>
                <a href="#" class="nav__link link">Команда</a>
                <a href="#" class="nav__link link">Вакансии</a>
            </nav>
            <div class="burger active">
                <span></span>
                <span></span>
                <span></span>
            </div>

        </div>

    </div>


</header>

