<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title>{{ page.title }}</title>
    {% include "./head.njk" %}
</head>
<body>



{% set _ = 'header' %}

<header class="header">
    <div class="container">

        <div class="header__wrap">
            <a href="#" class="logo">

            </a>
            <nav class="nav">
                <a href="#" class="link">Компания</a>
                <a href="#" class="link">Продукт</a>
                <a href="#" class="link">Команда</a>
                <a href="#" class="link">Вакансии</a>
            </nav>
        </div>

    </div>


</header>

